@import"https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap";
@import "tailwindcss";

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('./assets/Fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('./assets/Fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Light.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./assets/Fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Regular.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/Fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Medium.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('./assets/Fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./assets/Fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Bold.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./assets/Fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('./assets/Fonts/ClashDisplay-Variable.woff') format('woff'),
       url('./assets/Fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


@theme{
  --font-primary: "Geologic";
  --default-font-family: var(--font-sans);
}

*{
  box-sizing: border-box;
}

html{
  font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji")
}

.textColor{
  color: #1354b6;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #c2c0c0 transparent;
}

@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: custom-spin 1s linear infinite;
}

.login_banner {
  background-image: url("https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
}

.svg_mask {
  position: relative;
}

.svg_mask {
  -webkit-mask: url("./assets/images/bottom-right.png") center / contain
      no-repeat,
    linear-gradient(#000000 0 0);
  mask-size: 12rem;
  mask-position: bottom left;
  mask-composite: exclude;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
